<style>
    {#asset style.css @encoding=utf8}        
.bc {
    background-color: silver !important;
    height: 50px;
}
.bb {
    background-color: blue !important;
    color: white;
    height: 50px;
}
.vcenter {
    vertical-align: middle;
}
</style>

<div class="container">
  <div class="row vcenter">
        <div class="col-xs-4 bc text-center">4</div>    
        <div class="col-xs-8 bc">8</div>
  </div>
  <div class="row">
    <div class="col-xs-4 bb">
      1 of 3
    </div>
    <div class="col-xs-4 bb">
      2 of 3
    </div>
    <div class="col-xs-4 bb">
      3 of 3
    </div>
  </div>
</div>