<style>
    {#asset bulma.css @encoding=utf8}
.no-bottom-padding {
    padding-bottom: 0px;
}
.hline-bottom {
    padding-bottom: 3px;
    margin-bottom:5px;
    border-bottom: 3px solid #000; /* whichever color you prefer */
}
.row-space {
    height: 10px;
}

</style>
    
<script type="text/javascript">
    {#asset qrcode.min.js @encoding=utf8}
</script>


<div class="columns">
  <div class="column is-4">
    <img src='{#image FHRlogoHorizontal}'/>
  </div>
  <div class="column">
    <div class="columns">
        <div class="column no-bottom-padding">
            <p class="has-text-black has-text-right has-text-weight-bold">Project Officer: Ms. Lucrecia Seafield</p>
        </div>
    </div>
    <div class="columns">
        <div class="column no-bottom-padding">
            <p class="has-text-black has-text-right has-text-weight-bold">Programme: SEJA</p>
        </div>
    </div>
  </div>
</div>

<div class="columns">
    <div class="column is-6">
        <p class="is-size-7">12/10/17 10:21</p>
    </div>
    <div class="column">
        <p class="has-text-black has-text-right has-text-weight-bold is-size-5">Payment Request</p>
    </div>
    <div class="column">
        <span class="tag is-black is-large is-rounded has-text-weight-bold is-pulled-right">3819</span>
    </div>
</div>

<div class="columns">
    <div class="column is-9">
        <div class="columns">
            <div class="column no-bottom-padding has-text-weight-semibold is-size-6 has-text-black">Payee: Mrs Musi</div>
        </div>
        <div class="columns">
            <div class="column no-bottom-padding has-text-weight-semibold is-size-6 has-text-black">Account Number: 1120194650</div>
        </div>
        <div class="columns">
            <div class="column no-bottom-padding has-text-weight-semibold is-size-6 has-text-black">Bank: Capitec</div>
        </div>
        <div class="columns">
            <div class="column no-bottom-padding has-text-weight-semibold is-size-6 has-text-black">Branch Code: 470010</div>
        </div>
        <div class="columns">
            <div class="column no-bottom-padding has-text-weight-semibold is-size-6 has-text-black">Please Disburse: R 3,000.00</div>
        </div>

    </div>
    <div class="column is-3">
        <div id="qrcode" class="is-pulled-right"></div>
    </div>
</div>

<div class="hline-bottom"></div>

<div class="columns">
    <div class="column is-size-6 no-bottom-padding has-text-weight-semibold has-text-black">Project - 5517</div>
</div>
<div class="columns">
    <div class="column is-size-7 no-bottom-padding has-text-weight-semibold has-text-black">KPI 2.1 Support policy forums/stakeholder engagements between civil society and government</div>
</div>
<div class="columns">
    <div class="column is-size-7 no-bottom-padding has-text-black">Moot Court Focus Group</div>
</div>
<div class="columns">
    <div class="column is-size-7 no-bottom-padding has-text-black is-2">Contract/Budget:</div>
    <div class="column is-size-7 no-bottom-padding has-text-black is-2">R 163,000.00</div>
</div>
<div class="columns">
    <div class="column is-size-7 no-bottom-padding has-text-black is-2">Expense:</div>
    <div class="column is-size-7 no-bottom-padding has-text-black is-2">R 69,154.00</div>
</div>

<div class="row-space"></div>

<div class="columns">
    <div class="column is-6">
        <div class="columns">
            <div class="column is-size-6 no-bottom-padding has-text-weight-semibold has-text-black">Implementer-A</div>
        </div>
        <div class="columns">
            <div class="column is-size-7 no-bottom-padding has-text-black">Foundation For Human Rights (FHR) - Projects</div>
        </div>
        <div class="columns">
            <div class="column is-size-7 no-bottom-padding has-text-black is-4">Contract/Budget:</div>
            <div class="column is-size-7 no-bottom-padding has-text-black is-4">R 163,000.00</div>
        </div>
        <div class="columns">
            <div class="column is-size-7 no-bottom-padding has-text-black is-4">Expense:</div>
            <div class="column is-size-7 no-bottom-padding has-text-black is-4">R 69,154.00</div>
        </div>
    </div>
    <div class="column is-6">
        <div class="columns">
            <div class="column is-size-6 no-bottom-padding has-text-weight-semibold has-text-black">Tranche</div>
        </div>
        <div class="columns">
            <div class="column is-size-7 no-bottom-padding has-text-weight-semibold has-text-black is-4">#:</div>
            <div class="column is-size-7 no-bottom-padding has-text-weight-semibold has-text-black is-3">1</div>
        </div>
        <div class="columns">
            <div class="column is-size-7 no-bottom-padding has-text-black is-4">Date:</div>
            <div class="column is-size-7 no-bottom-padding has-text-black is-5">10 February 2015</div>
        </div>
        <div class="columns">
            <div class="column is-size-7 no-bottom-padding has-text-black is-4">Contract/Budget:</div>
            <div class="column is-size-7 no-bottom-padding has-text-black is-4">R 163,000.00</div>
        </div>
        <div class="columns">
            <div class="column is-size-7 no-bottom-padding has-text-black is-4">Expense:</div>
            <div class="column is-size-7 no-bottom-padding has-text-black is-4">R 69,154.00</div>
        </div>
    </div>
</div>

<div class="hline-bottom"></div>

<div class="columns">
    <div class="column is-size-6 no-bottom-padding has-text-weight-semibold has-text-black">Request Details</div>
</div>
<div class="columns">
    <div class="column is-size-7 no-bottom-padding has-text-black is-2">Request Date:</div>
    <div class="column is-size-7 no-bottom-padding has-text-black is-5">17 September 2015</div>
</div>

<div class="columns">
    <div class="column is-size-7 no-bottom-padding has-text-black is-2">Amount:</div>
    <div class="column is-size-7 no-bottom-padding has-text-black is-2">R 3,000.00</div>
</div>
<div class="columns">
    <div class="column is-size-7 no-bottom-padding has-text-black is-2">Reference:</div>
    <div class="column is-size-7 no-bottom-padding has-text-black is-2">Mrs Musi</div>
</div>


<div class="row-space"></div>

<div class="columns">
    <div class="column is-size-6 no-bottom-padding has-text-weight-semibold has-text-black">Account Details</div>
</div>
<div class="columns">
    <div class="column is-size-7 no-bottom-padding has-text-black is-3">Account Number:</div>
    <div class="column is-size-7 no-bottom-padding has-text-black is-3">1120194650</div>
</div>

<div class="columns">
    <div class="column is-size-7 no-bottom-padding has-text-black is-3">Account Name:</div>
    <div class="column is-size-7 no-bottom-padding has-text-black is-3">Mrs Musi</div>
</div>
<div class="columns">
    <div class="column is-size-7 no-bottom-padding has-text-black is-3">Bank:</div>
    <div class="column is-size-7 no-bottom-padding has-text-black is-3">Capitiec - 470010</div>
</div>

<div class="hline-bottom"></div>
<table class="table is-fullwidth has-text-black">
  <colgroup>
    <col style="width:30%">
    <col style="width:20%">
    <col style="width:18%">
    <col style="width:18%">
    <col style="width:14%">
  </colgroup>  

  <thead>
    <tr>
      <th class="has-text-black">Title</th>
      <th class="has-text-black">Department</th>
      <th class="has-text-black">Name</th>
      <th class="has-text-black">Signature</th>
      <th class="has-text-black">Date</th>
    </tr>
  </thead>
  
  
  <tbody>

    <tr>
      <td>Programme Manager Requester</td>
      <td>Project Office</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td>PMU Manager</td>
      <td>PMU</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td>Director/Deputy</td>
      <td>Director's Office</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td>Receiver</td>
      <td>Finance</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td>Bank Authorise 1</td>
      <td>Finance</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td>Bank Authorise 2</td>
      <td>Finance</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>


  </tbody>
</table>


<script type="text/javascript">
    new QRCode(document.getElementById("qrcode"), {text: "3819", height: 120,width: 120});
</script>