<div class="full-height container">

  <div class="row-fluid top-buffer quarter-height">
    <div class="span12 full-inside-height">
      <a class="btn btn-block btn-primary option-button-lg"  ui-sref="run-test">
      	<span class="glyphicon btn-glyphicon-lg glyphicon-play-circle img-circle text-primary pull-left"></span>Run Test
    	</a>
    </div>
  </div>
  
  <div class="row-fluid top-buffer quarter-height">
    <div class="span12 full-inside-height">
      <a class="btn btn-block btn-primary option-button-lg">
      	<span class="glyphicon btn-glyphicon-lg glyphicon-circle-arrow-right img-circle text-primary pull-left"></span>Results
    	</a>
    </div>
  </div>
  
  <div class="row-fluid top-buffer quarter-height-lg">
    <div class="span12 full-inside-height">
      <a class="btn btn-block btn-primary option-button-lg" ng-click="vm.exitDiag()">
      	<span class="glyphicon btn-glyphicon-lg glyphicon-off img-circle text-primary pull-left"></span>Exit
    	</a>
    </div>
  </div>

</div>
