<div>
  <div class="modal-header">
    <div class="row-fluid eighth-height">
      <div class="span12 eighth-height">
        <a class="btn btn-block btn-primary option-button-sm disabled">
          <span class="glyphicon btn-glyphicon-sm glyphicon-question-sign img-circle text-primary pull-left"></span>{{vm.message}}
        </a>
      </div>
    </div>
  </div>  
 	<div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-xs-6 text-center">
          <a class="btn btn-block btn-primary option-button-sm " ng-click="vm.Yes()">
            <span class="glyphicon btn-glyphicon-sm glyphicon-ok-circle img-circle text-primary pull-left"></span>Yes
          </a>
          </div>
          <div class="col-xs-6 text-center">
          <a class="btn btn-block btn-primary option-button-sm " ng-click="vm.No()">
            <span class="glyphicon btn-glyphicon-sm glyphicon-remove-circle img-circle text-primary pull-left"></span>No
          </a>
          </div>
        </div>
      </div>
    </div>
 	</div>
</div>
