<style>
    {#asset bootstrap.print.css @encoding=utf8}
    {#asset font-awesome.css @encoding=utf8}
    .fa {
        font-family:'fontawesome-webfont'!important; 
    }
    @font-face {
        font-family: 'fontawesome-webfont';
        src: url({#asset fontawesome-webfont.woff @encoding=dataURI});
        format('woff');
    }
    .no-padding-left {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 15px;
    }
    .no-padding-right {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 15px;;
        padding-left: 0;
    }
</style>

<h1 class="font-weight-bold">Report on the Grants and Projects Register</h1>
<p class="h2">Knowledge Managment Unit</p>
<p class="h3">Francois Weber</p>
<div class="mb-2"></div>

<h2 class="font-weight-bold">Grants Unit</h2>
    <h3>Available Functionality</h3>
    <h3>Usage</h3>
    <h3>Outstanding Functionality</h3>
 <div style='page-break-before: always;'></div>
 
<h2 class="font-weight-bold">Programme Management Unit</h2>
    <h3>Available Functionality</h3>
    <h3>Usage</h3>
    <h3>Outstanding Functionality</h3>
 <div style='page-break-before: always;'></div>
 
<h2 class="font-weight-bold">Finance Unit</h2>
    <h3>Outstanding Functionality</h3>
<div style='page-break-before: always;'></div>

<h2 class="font-weight-bold">Knowledge Management Unit</h2>
    <h3>Outstanding Functionality</h3>
 <div style='page-break-before: always;'></div>

<h2 class="font-weight-bold">Document Management</h2>
    <h3>Available Functionality</h3>
    <h3>Usage</h3>
    <h3>Outstanding Functionality</h3>
 <div style='page-break-before: always;'></div>
 
<h2 class="font-weight-bold">Notification System</h2>
    <h3>Outstanding Functionality</h3>
<div style='page-break-before: always;'></div>    
    
<h2  class="font-weight-bold">Finance Reconciliation</h2>    
    
    